.post {
    width: 40%;
    position: relative;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 15px;
    background-color: rgb(205, 205, 224);
    border: 1px solid var(--accent);
    margin-bottom: 1rem;
}

.post > button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

.edit{
    background-color: rgb(0, 95, 255);
}

.delete{
    background-color: rgb(255, 0, 0);
}

.posts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}