button {
    color: white;
    padding: 0.5rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
}

button.normal {
    border: 1px solid rgb(47, 47, 255);
    background-color: rgb(95, 95, 255);
}

button.confirm {
    border: 1px solid rgb(0, 117, 0);
    background-color: rgb(15, 180, 0);
}

button.critical {
    border: 1px solid rgb(255, 47, 47);
    background-color: rgb(255, 95, 95);
}

button.disabled {
    border: 1px solid var(--accent);
    cursor: not-allowed;
    color: black;
}

button.loading {
    border: 1px solid var(--accent);
    cursor: progress;
    color: black;
}