.status {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
}

.status.normal {
    border: 1px solid var(--accent);
}

.status.error {
    border: 1px solid red;
}

.status.success {
    border: 1px solid green;
}