.general-post-info {
    float: right;
}

.general-post-info > * {
    display: block;
}

.single-post {
    width: 40%;
    position: relative;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 15px;
    background-color: rgb(205, 205, 224);
    border: 1px solid var(--accent);
    margin: 1rem 0rem 1rem;
}
