.general-post-info {
    float: right;
}

.general-post-info > * {
    display: block;
}

.single-post {
    width: 40%;
    position: relative;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 15px;
    background-color: rgb(205, 205, 224);
    border: 1px solid var(--accent);
    margin: 1rem 0rem 1rem;
}

.post-author > div {
    display: inline-block;
}

.post-author > .profile-image {
    width: 2rem;
    margin-right: 1rem;
}

.inline-flex {
    display: flex;
    justify-content: space-between;
}

.inline-flex > * {
    display: inline-block;
}

.post-details > * {
    margin-bottom: 1rem;
}

.post-username {
    display: inline;
    font-size: 1.5rem;
    vertical-align: top;
}

.spacer {
    margin: 0.5rem 0 0.5rem 0;
    border: 1px solid #e9e9e9;
}