.login-form {
    width: 25%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding: 3rem 4rem 3rem 4rem;
    border-radius: 15px;
    border: 1px solid var(--accent);
}

.login-form > .vertical-center {
    display: flex;
    flex-direction: column;
}

.login-form > .vertical-center > * {
    margin-top: 2rem;
}

.login-form > .vertical-center > input {
    padding: 0.5rem;
    border: 1px solid white;
}

.login-form > .vertical-center > button {
    color: white;
    padding: 0.5rem;
    border: 1px solid rgb(47, 47, 255);
    background-color: rgb(95, 95, 255);
    border-radius: 15px;
}