.profile {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.edit-button {
    float: right;
    margin-bottom: 0.5rem;
}

.row {
    margin-bottom: 2rem;
    width: calc(100% - 2rem);
    padding: 1rem;
}

.profile-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}